<div class="content-wrapper">
  <h1 class="title">
    {{title}}
  </h1>

  <div class="">
    <h3 class="description"> This app helps you to read a text representaiton for your entered number </h3>

    <form [formGroup]="form">
      <input type="text" placeholder="please enter your number" formControlName="number">
      <!-- 1 this button used for servcie -->
      <!-- <button (click)="convertNumberToArabicWords()">Convert into Arabic Text</button> -->

      <!-- 2 this button used for component -->
      <button (click)="setInputNumber()">Convert into Arabic Text</button>
    </form>

    <!-- 1 output arabic text using library service -->
    <div *ngIf="arabicTextRepresentation" style="margin-top: 10px;">
      <p>this is the text representation of what you entered</p>
      <p class="output"> {{ arabicTextRepresentation }} </p>
    </div>


    <!-- 2 output arabic text from library component -->
    <div *ngIf="inputNumber" style="margin-top: 10px;">
      <p>this is the text representation of what you entered</p>
      <p class="output">
        <ngx-arkami-arabic-converter [strNumber]="inputNumber"></ngx-arkami-arabic-converter>
      </p>
    </div>

  </div>
</div>
