<div class="content-wrapper">
  <h1 class="title">
    {{title}}
  </h1>

  <div class="">
    <h3 class="description"> This app helps you to read a text representaiton for your entered number </h3>

    <form [formGroup]="Form">
      <input type="text" placeholder="please enter your number" formControlName="number">
      <button (click)="convertNumberToArabic()">Convert into Arabic Text</button>
    </form>

    <div *ngIf="formattedNumber" style="margin-top: 10px;">
      <p>this is the text representation of what you entered</p>
      <p class="output"> {{ formattedNumber }} </p>
    </div>

  </div>
</div>
